.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 100px;
    border-radius: 10px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.mobile-navbar-menu {
    display: none;
}


.mobile-navbar-menu a {
    margin-bottom: 10px;
}

.hamburger-container {
    display: none;
}

@media (width <=1050px) {
    .navbar .logo {
        width: 95px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}


@media (width <=900px) {
    .navbar .logo {
        width: 90px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
    }
}

@media (width <=750px) {
    .navbar-menu {
        display: none;
    }

    .mobile-navbar-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: -200px;
        width: 100%;
        z-index: 1;
        background-color: white;
        align-items: center;
        padding: 20px;
        transition: .3s;
    }

    .show {
        top: 140px;
    }


    .hamburger-container {
        display: block;
        font-size: 30px;
        cursor: pointer;
        transition: .3s;
    }

    .hamburger-container:hover {
        transform: scale(1.2);
    }
}